{% extends './base.html' %}
{% block title %} Food Recognision {% endblock %}



{% block content %}


<div class="pt-2">
    {% include "cards.html" %}
</div>



<div class="container">
    <div class="row">
        <div class="col-8 text-center mx-auto">
            <h1 class="display-4"><strong>Find Product</strong></h1>
            <p class="lead">Upload image of Indian food to know the food name</p>
        </div>
    </div>
</div>






<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="{{ url_for('food_detect')}}" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="f_image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" id="f_image" name="f_image" accept="image/*">
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <img id="uploadedImage" class="img-fluid" alt="Uploaded Image" style="max-width: 300px; height: auto;">
        </div>
      </div>
    </div>
  </div>
  












{% if dict.prediction %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center">
          <h1 class="beautiful-font">This dish is called {{dict.prediction}}</h1>
        </div>
      </div>
    </div>
  </div>

{% endif %}





<script>
    document.getElementById('f_image').addEventListener('change', function(event) {
      var reader = new FileReader();
      reader.onload = function() {
        document.getElementById('uploadedImage').src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    });
  </script>




{% endblock %}